
.vandetailsinfo--container{
    font-family: 'Inter', sans-serif;
    color: #161616;
    margin-top: 15px;
    padding: 10px;
}

.vandetailsinfo--container > .title{
    display: inline-block;
    font-size: 1rem;
    margin: 5px 0px;
    font-weight: bolder;
}

.title > .text {
    font-size: 0.8rem;
}