.listedvan--container{
    background-color: white;
    text-decoration: none;
    color: #161616;
    display: flex;
    justify-content: flex-start;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    margin: 15px;
    padding: 10px;
}
.listedvan--container > img{
    width: 15%;
    border-radius: 5px;
}
.listedvan--container > p{
    margin: 12px;
}