.login--wrapper{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #161616;
    background-color: #FFF7ED;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
}

.login--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    align-items: center;
}
.login--container > h1{
    margin: 10px;
    padding: 30px;
}

.login--form{
    display: flex;
    min-height: 250px;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.login--input{
    border: 1px solid rgb(209, 209, 209);
    margin: 0px;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
}
.under{
    border-radius: 0px 0px 5px 5px;
}

.login--form > button{
    color: #FFF7ED;
    background-color: #E17654;
    margin: 30px 0px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
}

.login--container > section{
    font-size: 1.2rem;
}

.createaccount{
    text-decoration: none;
    color: #E17654;
    font-weight: 900;
    font-size: 1rem;
}