.main--container{
    background-image: url(./../assets/images/home-hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main--container > div {
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}
.main--container h2 {
    font-size: 1.9rem;
    font-weight: bolder;
}
.main--container p {
    font-size: 0.9rem;
    margin-top: 20px;
    font-weight: 600;
}
.findUrvan--btn {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FF8C38;
    border: none;
    font-family: 'Inter', sans-serif;
    border-radius: 5px;
    
    max-height: 50px;
    text-align: center;
    padding: 12px;
    margin-top: 40px;
    font-weight: bolder;
}