footer{
    display: block;
    background-color: #252525;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}