header {
    background-color: #FFF7ED;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.vanlife--logo{
    flex-grow: 1;
}
.vanlife--logo :hover{
    text-decoration: underline;
}

.vanlife--logo > a {
    text-decoration: none;
    margin: 5px;
    color: #161616;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    margin-left: 15px;
    letter-spacing: 2px;
    font-size: 1.5rem;
}


.page--navigate {
    text-decoration: none;
    margin: 5px;
    color: #4D4D4D;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    margin-right: 20px;
    font-size: 1.1rem;
}
.page--navigate--container :hover{
    text-decoration: underline;
}